.main-container {
    display: flex;
}

.container-one {
    width: 400px;
}

.container-two {
    width: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: Arial, Helvetica, sans-serif;
}

p,
table,
li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p,
li,
th,
td {
    font-size: 90%;
}

a:hover,
a:active {
    opacity: 0.6;
    cursor: pointer;
}

.no-style {
    list-style-type: none;
}

table {
    width: 100%;
    margin-bottom: 30px;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.vertical-line {
    border-left: 2px solid #000;
    display: inline-block;
    height: 694px;
    margin: 0 20px;
}

.style1 a:link,
.style1 a:visited {
    color: black;
}

.style1 li a:hover,
.style1 li a:active {
    color: mediumblue;
}

.style2 a:link,
.style2 a:visited,
.style2 {
    color: firebrick;
}

.style2 li a:hover,
.style2 li a:active {
    color: navy;
}

.style3 a:link,
.style3 a:visited {
    color: darkred;
}

.style3 li a:hover,
.style3 li a:active {
    color: red;
}

.s4 {
    background-color: #efe7d6;
}

.style4 a:link,
.style4 a:visited {
    color: saddlebrown;
}

.style4 li a:hover,
.style4 li a:active {
    color: red;
}

.s4 {
    background-color: #fffaff;
}